.App {
    text-align: center;
  }
  
  a, i {
    text-decoration: none;
    padding:1%;
  }
  
  .active i {
    background-color:lightblue;
  }
  
  .paw {
    border: 1px solid black;
    margin:0.5%;
  }
  
  
  