.App {
    text-align: center;
  }
  
  a, i {
    text-decoration: none;
    padding:1%;
  }
  
  .active {
    background-color:lightblue;
  }
  
  .paw {
    border: 1px solid black;
    margin:0.5%;
  }

  .nav {
    margin: 25px;
  }

  .card-container {
    margin: 2%;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    width:100%;
  }

  .entry-card {
    width: 30%;
    height:auto;
    border: 1px solid black;
    margin:1%;
  }

  .history nav a {
    border: 1px solid black;
    margin: 1%;
  }

  
  
  