.App {
    text-align: center;
  }
  
  a, i {
    text-decoration: none;
    padding:1%;
  }
  
  .active {
    background-color:lightblue;
  }
  
  .paw {
    border: 1px solid black;
    margin:0.5%;
  }

  .nav {
    margin: 25px;
  }

  .entry {
    width: 500px;
    height:auto;
  }

  
  
  